<%- include('../partials/header') %>
    <h1>Mad Skills <%= time %></h1>
    <ul>
      <% skills.forEach(function(t) { %>
        <li>
          <form action="/skills/<%= t.id %>?_method=DELETE" class=" delete-form" method="'POST" >
          <button type="submit">X</button>  

          </form>
          <a href="/skills/<%= t.id %>"> 
          <%= t.skill %>
          </a> 
            - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>

    <a href="/skills/new">Add Skills</a>

    <%- include('../partials/footer') %>

